@charset "UTF-8";
/* CSS Document */

html, 
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #302E2E;
}

header {
}

body {
	padding: 32px;
/*	overflow: hidden;*/
}

h2 {
	margin-block-start: 1.2em;
	margin-block-end: 0.7em;
}

h3 {
	margin-block-start: 1.2em;
	margin-block-end: 0.7em;
}

ul, ol {
	padding-inline-start: 36px;
}

li {
	margin-bottom: 0.8em;
}

p {
	margin-top: 1.0em;
	margin-bottom: 1.0em;
}

a:link, a:visited {
}
a:hover {
	color: #d44388;
}

.nav_buttom {
	display: block;
	position: relative;
	margin: 0 0 0 auto;
	z-index: 9999;
	width: 24px;
	height: 24px;
}

.nav_buttom span {
	display: inline-block;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: #333;
	border-radius: 2px;
}

.nav_buttom span:nth-of-type(1) {
	top: 6px;
	animation: nav-bar01 .35s forwards;
}
@keyframes nav-bar01 {
  0% {
    transform: translateY(5px) rotate(45deg);
	animation-timing-function: linear;
  }
  40% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.nav_buttom span:nth-of-type(2) {
	bottom: 6px;
	animation: nav-bar02 .35s forwards;
}
@keyframes nav-bar02 {
  0% {
    transform: translateY(-5px) rotate(-45deg);
	animation-timing-function: linear;
  }
  40% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

.nav_buttom.show span:nth-of-type(1) {
  animation: show-nav-bar01 .35s forwards;
}
@keyframes show-nav-bar01 {
  0% {
    transform: translateY(0) rotate(0);
	animation-timing-function: linear;
  }
  40% {
    transform: translateY(5px) rotate(0);
  }
  100% {
    transform: translateY(5px) rotate(45deg);
  }
}

.nav_buttom.show span:nth-of-type(2) {
  animation: show-nav-bar02 .35s forwards;
}
@keyframes show-nav-bar02 {
  0% {
    transform: translateY(0) rotate(0);
	animation-timing-function: linear;
  }
  40% {
    transform: translateY(-5px) rotate(0);
  }
  100% {
    transform: translateY(-5px) rotate(-45deg);
  }
}

.nav_buttom.load span {
	animation: none;
}

.style-nav {
	position: fixed;
	z-index: 999;
	top: -200%;
	left: 0;
	width: 100%;
	height: 100vh;
	background: #FFF;

	opacity: 0;
	visibility: hidden;
	
	transition: all .5s;

	overflow-y: scroll;
/*	-webkit-overflow-scrolling: touch;*/
}

.style-nav.show {
	top: 0;
	opacity: 1;
	visibility: visible;
}

.style-nav ul {
	padding-inline-start: 0px;
	list-style-type: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.style-nav ul li a {
	text-decoration: none;
	color: #3d666a;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}

html.show {
	overflow: auto;
}

body.show {
	overflow: hidden;
}

.top-image {
	background-image: url("images/top-image.jpg");
	background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
	height: 20vh;
	width: 100%;
}

/*Tablet View*/

@media (min-width: 768px){
	body {
	padding: 64px;
  }
	
	.nav_buttom {
		display: none;
	}
	
	.style-nav {
		position: static;
		width: auto;
		height: auto;
		background: transparent;

		opacity: 100;
		visibility: visible;

		transition: all .0s;
	}
	
	.style-nav ul {
		position: static;
		transform: none;
	}
	
	.style-nav ul li {
		display: inline-block;
	}
	
	.style-nav ul {
		text-align: center;
	}
}

/*Desktop View*/

@media (min-width: 1024px){
	
/*
	.style-logo {
		float: left;
	}
	
	.style-nav {
		float: right;
	}
*/
	
}